:host {
  width: 100%;
}

label {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr 32px;
  align-items: center;
}

.horizontal-layout {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.single-device {
  grid-template-columns: 1.4rem 1fr;

  input {
    grid-column-start: 2;
    justify-self: end;
  }
}
