<div tuiAppearance="floating" tuiCardLarge class="container">
  <header tuiHeader>
    <h2 tuiTitle>{{ getTitle() }}</h2>

    @if (getLayout() !== Layout.SingleDevice) {
    <aside tuiAccessories>
      <input tuiSwitch type="checkbox" />
    </aside>
    }
  </header>

  <section [class.horizontal-layout]="getLayout() === Layout.MultiHorizontalDevice">
    @for (item of card()?.items || []; track item.label) { @if (item.type === 'device') {
    <app-device [square]="getLayout() === Layout.MultiHorizontalDevice" [item]="item" />
    } @else if (item.type === 'sensor') {
    <app-sensor [square]="getLayout() === Layout.MultiHorizontalDevice" [item]="item" />
    } }
  </section>
</div>
