<div tuiAppearance="floating" tuiCardLarge class="container">
  <header tuiHeader>
    <h2 tuiTitle>{{ getTitle() }}</h2>

    @if (showGroupToggle()) {
      <aside tuiAccessories>
        <input
          tuiSwitch
          type="checkbox"
          [ngModel]="groupState()"
          (ngModelChange)="toggleDevices($event)"
        />
      </aside>
    }
  </header>

  <section [ngClass]="getLayoutStyleClass()">
    @for (item of items(); track item.label) {
      @if (item.type === 'device') {
        <app-device [item]="item" [size]="getLayoutStyleClass()" />
      } @else if (item.type === 'sensor') {
        <app-sensor [item]="item" [size]="getLayoutStyleClass()" />
      }
    }
  </section>
</div>
