<nav compact tuiSubheader>
  <tui-tabs tuiFade [activeItemIndex]="activeIndex()">
    @for (tab of tabs(); track tab.id) {
      <button tuiTab type="button" (click)="onTabClick(tab)">
        {{ tab.title }}
      </button>
    }
  </tui-tabs>
  <button
    tuiButton
    appearance="secondary"
    type="button"
    iconStart="@tui.trash-2"
    (click)="onDeleteDashboard()"
  >
    Delete
  </button>
  <button tuiButton appearance="primary" type="button" iconStart="@tui.bolt">Edit</button>
</nav>
