<nav compact tuiSubheader>
  <tui-tabs tuiFade [activeItemIndex]="activeIndex()">
    @for (tab of tabs(); track tab.id) {
      <button tuiTab type="button" (click)="onTabClick(tab)">
        {{ tab.title }}
      </button>
    }
  </tui-tabs>
  <button
    tuiButton
    appearance="secondary"
    type="button"
    iconStart="@tui.trash-2"
    (click)="onDeleteDashboard()"
  >
    Delete
  </button>
  <button
    tuiButton
    [appearance]="editMode() ? 'accent' : 'primary'"
    type="button"
    iconStart="@tui.bolt"
    (click)="showDialog(template)"
  >
    {{ editMode() ? 'Exit' : 'Edit' }}
  </button>
</nav>

<ng-template
  #template
  let-observer
>
  <div class="modal">
    <header tuiHeader>
      <h2 tuiTitle>Save the changes?</h2>
    </header>
    <p>You can also return to the previous dashboard state.</p>

    <footer>
      <button
        size="m"
        tuiButton
        type="button"
        appearance="action"
        (click)="observer.complete()"
      >
        Discard
      </button>
      <button
        size="m"
        tuiButton
        type="button"
      >
        Save
      </button>
    </footer>
  </div>
</ng-template>
