<form
  tuiAppearance="floating"
  tuiCardLarge
  tuiForm="m"
  [formGroup]="form"
  [style.min-width.rem]="32"
  (ngSubmit)="onSubmit()"
>
  <header tuiHeader>
    <h2 tuiTitle>Login Form</h2>
  </header>

  <tui-textfield>
    <label tuiLabel>Username</label>
    <input
      formControlName="login"
      placeholder="Your login"
      tuiTextfield
      type="text"
      autocomplete="username"
    />
  </tui-textfield>
  <tui-error formControlName="login" [error]="[] | tuiFieldError | async" />

  <tui-textfield>
    <label tuiLabel>Password</label>
    <input
      formControlName="password"
      placeholder="Your password"
      tuiTextfield
      type="password"
      autocomplete="current-password"
    />
  </tui-textfield>
  <tui-error
    formControlName="password"
    [error]="authErrorMessage() || ([] | tuiFieldError | async)"
  />

  <footer>
    <button tuiButton type="submit" [disabled]="form.invalid">Sign In</button>
  </footer>
</form>
