:host {
  width: 100%;
}

label {
  width: 100%;
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}

.horizontal-layout {
  display: flex;
  flex-direction: column;
  text-align: center;
}
