<aside [tuiNavigationAside]="expanded()">
  @if (isDesktopWidth()) {
    <header>
      <app-sidebar-header [expanded]="expanded()" (toggleExpanded)="toggleExpanded()" />
    </header>
  } @else {
    <header>
      <app-sidebar-footer [expanded]="expanded()" />
    </header>
  }
  <main>
    <app-sidebar-menu />
  </main>
  @if (isDesktopWidth()) {
    <footer>
      <hr />
      <app-sidebar-footer [expanded]="expanded()" />
    </footer>
  }
</aside>
<main tuiNavigationMain>
  <ng-content />
</main>
