:host {
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (max-width: 400px) {
    height: auto;
    min-height: 100dvh;
    padding-top: 5vh;
    align-items: flex-start;
  }
}
